*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: none;
}
html,body{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}
/*PADRONIZAÇÃO*/
html,body{
    width: 100%;
    height: 100%;
    background-image: url(../IMAGE/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.all{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
}
header{
    width: 100%;
    height: 5.0125rem;
}
.usuario{
    position: absolute;    
    width: 56.6125rem;
    height: 5.0125rem;
    background: #92B695;
    right:0;
    display: flex;
    align-items: center;
}
.tela{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background: #ADEADA;
    height: 54.53rem;
    width: 49.86rem;
    border-radius: 3.19rem;

}
.top{
    height: 9.26rem;
    width: 49.86rem;
    background: #92B695;
    border-radius: 3.19rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 1.94rem; 
}
h2{
    font-size: 1.1875rem;
    margin-left: 1rem;
}
h3{
    font-size: 2rem;
}
.text{
   height: 45.27rem;
   width: 49.86rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
main{
    height: 4.18125rem;
    width: 49.86rem;
    margin-top: 2rem;
    position: relative;
}
.botao{
    height: 4.18125rem;
    width: 20.25rem;
    background: #92B695;
    float: right;
    border-radius: 3.19rem;
}
.icon{
    height: 4.18125rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #92B695;
}
.atividade{
    position: absolute;
    height: 4.18125rem;
    width: 29.61rem;
    display: flex;
    align-items: center;
}
.linha{
    width: 27.61rem;
}
hr{
    border: none;
    border-top: 0.125rem dashed #000;
}
img{
    height: 2rem;
}
.baixo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.config{
    height: 3.725rem;
    width: 20.8875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #44AB7A;
}